html.back {
	background-image: url("microp2.jpg");
} 

a:link {
	color: blue;
}

a:visited {
	color: purple;
}
body {
	background-color: white;
	color: #000080;
	font-family: "Verdana", Geneva, sans-serif	;

}
section#oneBlock {
	position: absolute;
	border-radius: 10px;
	padding: 5px;
	background-color: #e9e9e9;
	width: 500px;
	margin: 17px;
	height: 155px;
	text-align: center;
	border-top:10px solid;
    border-top-color: green;

}

li.H {
	list-style-type: none;
    margin: 0;
    padding: 5px;
    display: inline;

	
}
section#twoBlock {
	position: absolute;
	left: 50%;
	border-radius: 10px;
	padding: 5px;
	background-color: #e9e9e9;
	width: 500px;
	height: 155px;
	text-align: center;
	margin: 17px;
	border-top:10px solid;
    border-top-color: green;
}
section#threeBlock {
	position: absolute;
	top: 35%;
	border-radius: 10px;
	background-color: #e9e9e9;
	padding: 5px;
	margin: 17px;
	border-top:10px solid;
    border-top-color: green;
    width: 1100px;
}

section.Specs {
	position: absolute;
	left: 30%;
	border-radius: 10px;
	padding: 5px;
	background-color: #e9e9e9;
	height: 550px;
	width: 300px;
	border-top:10px solid;
    border-top-color: green;



}
section.Specs2 {
	position: absolute;
	left: 60%;
	border-radius: 10px;
	padding: 5px;
	background-color: #e9e9e9;
	height: 550px;
	width: 300px;
	border-top:10px solid;
    border-top-color: green;


}

section.img {
	position: absolute;
	border-radius: 10px;
	padding: 5px;
	background-color: #e9e9e9;
	height: 550px;
	width: 300px;
	border-top:10px solid;
    border-top-color: green;

}

table#table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 70%;
	text-align: left;
	margin-top: 50px;
	font-family: "Times New Roman", Geneva, sans-serif	;

}

tr:hover {
	background-color: #f2f2f2
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}